<!--<app-user></app-user>-->
<!--<app-product *ngIf="showProduct"></app-product>-->
<!--<button (click)="showProduct = !showProduct">Show / Hide product </button>-->
<!--<hr>-->
<!--<app-binding></app-binding>-->
<!--<hr>-->
<!--<app-conditions></app-conditions>-->
<!--<hr>-->
<!--<app-atributes></app-atributes>-->
<!--<hr>-->
<!--<app-input-output [title]="'static title'"></app-input-output>-->
<!--<app-input-output-->
<!--  (sayHi)="onSayHi($event)"-->
<!--  [(counter)]="age"-->
<!--  [title]="'Title ' + (expression ? 'one' : 'two')"-->
<!--&gt;-->
<!--</app-input-output>-->
<!--<app-input-output (sayHi)="onSayHi($event)" [title]="'Static title'"></app-input-output>-->
<!--<br>-->
<!--<button (click)="expression=!expression">{{!expression ? 'one' : 'two'}}</button>-->
<!--<hr>-->

<!--<app-templates [template]="ref">-->
<!--  <h3 class="header">Header</h3>-->
<!--  <p class="body">Body 1</p>-->
<!--  <p class="body">Body 2</p>-->
<!--  <footer class="footer">Footer</footer>-->
<!--</app-templates>-->
<!--<ng-template #ref let-element>-->
<!--  <span>App:{{element}}</span>-->
<!--</ng-template>-->
<!--<hr>-->

<button (click)="menu0.show()">Open menu 0</button>
<app-menu #menu0>
  <span>APP0</span>
</app-menu>
<button (click)="menu1.show()">Open menu 1</button>
<app-menu #menu1>
  <span>APP1</span>
</app-menu>
<button (click)="menu2.show()">Open menu 2</button>
<app-menu #menu2>
  <span>APP2</span>
</app-menu>

